{% extends 'base.html' %}
{% load static %}

{% block title %}个人资料 - 睿涵音乐{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-header">
                    <h4><i class="fas fa-user"></i> 个人资料</h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label><strong>用户名：</strong></label>
                                <p class="form-control-static">{{ user.username }}</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label><strong>邮箱：</strong></label>
                                <p class="form-control-static">{{ user.email|default:"未设置" }}</p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label><strong>姓名：</strong></label>
                                <p class="form-control-static">{{ user.first_name }} {{ user.last_name }}</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label><strong>角色：</strong></label>
                                <p class="form-control-static">
                                    {% if user.roles_json %}
                                        {{ user.roles_json|join:", " }}
                                    {% else %}
                                        未分配角色
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label><strong>注册时间：</strong></label>
                                <p class="form-control-static">{{ user.date_joined|date:"Y-m-d H:i" }}</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label><strong>最后登录：</strong></label>
                                <p class="form-control-static">
                                    {% if user.last_login %}
                                        {{ user.last_login|date:"Y-m-d H:i" }}
                                    {% else %}
                                        从未登录
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label><strong>账户状态：</strong></label>
                                <p class="form-control-static">
                                    {% if user.is_active %}
                                        <span class="badge badge-success">激活</span>
                                    {% else %}
                                        <span class="badge badge-danger">未激活</span>
                                    {% endif %}
                                    
                                    {% if user.is_staff %}
                                        <span class="badge badge-info">管理员</span>
                                    {% endif %}
                                    
                                    {% if user.is_superuser %}
                                        <span class="badge badge-warning">超级用户</span>
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <a href="{% url 'admin:accounts_user_change' user.id %}" class="btn btn-primary">
                        <i class="fas fa-edit"></i> 编辑资料
                    </a>
                    <a href="{% url 'admin:password_change' %}" class="btn btn-secondary">
                        <i class="fas fa-key"></i> 修改密码
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}